.c-bar {
    background-color: $color-black;
    display: block;
    height: 40px;
    width: 100%;
    z-index: 2;
    padding: 10px;
    padding-left: 40px;

    a {
        color: white;
        font-size: $font-size--xs;
        margin-right: 30px;
        text-decoration: none;
    }

    @include media($tablet) {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 10px;
    }
}