.c-hero {
    position: relative;
    height: 75vh;
    // margin-top: 114px;

    &::after {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: $color-black;
        content: '';
        opacity: 0.3;
    }

    @include media($tablet) {
        max-height: 30vh;
    }
}

.hero__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 100%;
    text-align: center;
    color: white;
}

.hero__slider {
    max-height: 75vh;

    @include media($tablet) {
        max-height: 30vh;
    }
}
