.c-hero {
    height: 75vh;
    position: relative;

    &::after {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: $color-black;
        content: '';
        opacity: 0.5;
    }

    .c-banner {
        position: absolute;
        z-index: 1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); 
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    @include media($tablet) {
        background-attachment: scroll !important;
    }
}

.hero__logo {
    margin-bottom: 10px;
}

.hero__title {
    color: $color-white;
}

.hero__buttons {

    a:last-child {
        color: $color-white;
    }

    @include media($tablet) {
        flex-direction: column;

        a:last-child {
            margin-top: 20px;
            margin-left: 0px !important;
        }
    }
}

#overons {

    .overons__image {
        padding-left: 30px;
    }

    @include media($tablet) {
        .overons__image {
            padding-left: 0px;
            margin-top: 30px;
        }

        .overons__text {
            padding-right: 0px;
        }

        h2, p {
            text-align: center !important;
        }
    }
}
