.single__title {
    margin-bottom: 20px;
}

.single__date {
    color: white;
}

.single__social-icon {
    display: block;
    height: 40px;
    margin-bottom: 20px;

    @include media($tablet) {
        display: inline-block;
        margin-bottom: 0px;
        margin-right: 10px;
    }
}

.single__content {
    @include media($tablet) {
        display: flex;
        flex-direction: column;
    }
}

.single__share {

    @include media($tablet) {
        order: 2;
    }

}

.single__text {
    @include media($tablet) {
        order: 1;
    }
}
