$color-white:           #ffffff; 
$color-black:           #242424;
$color-shadow:          rgba(50, 50, 50, 0.75);
$color-blue:            #99BAE0; 
$color-blue--opacity:   rgba(163, 196, 206, 0.9); 
$color-grey:            #E9E9E9; 
$color-grey--no-opacity:rgb(196, 196, 196); 


$color-branding--primary:  #4584FF; 
$color-branding--secondary: #ffffff; 
$color-link: $color-black;
$color-link--hover: $color-branding--primary; 