.c-button {
    font-size: 13px;
    border: solid 3px $color-branding--primary; 
    padding: 15px 30px;
    display: inline-block;
    border-radius: 100px;
    transition: all 0.5s ease;  
    text-decoration: none;
    -webkit-appearance: none;
    font-variation-settings: 'wght' 800;
    text-transform: uppercase;  

    &:hover {
        background-color: $color-branding--primary;
        color: white;
        cursor: pointer;
    }
}

.button--secondary {
    font-size: $font-size--s;
    border: solid 3px $color-branding--primary; 
    background-color: $color-branding--primary;
    padding: 15px 30px;
    display: inline-block;
    border-radius: 100px;
    transition: all 0.5s ease;  
    text-decoration: none;
    -webkit-appearance: none;
    font-variation-settings: 'wght' 800;
    text-transform: uppercase; 
    color: white;

    &:hover {
        background-color: white;
        color: $color-branding--primary;
        cursor: pointer;
    }
}

.button--third {
    border: solid 3px $color-white; 
    color: $color-white;

    &:hover {
        background-color: white;
        color: $color-branding--primary;
        cursor: pointer;
    }
}