.arrow-down { 
    width: 30px;
    position: absolute;
    bottom: 20px; 
    left: 50%; 
    transition: all 0.5s;
    transform: translateX(-50%);
    img {
        transition: all 0.5s;
    }

    @include media($tablet) {
        display: none;
    }

    &:hover {
        bottom: 10px;
        transition: all 0.5s;
        cursor: pointer;
    }
}