.fixed-button {
    z-index: 1;
    position: fixed;
    visibility: hidden;
    bottom: 10px;
    right: 10px;
    font-family: $font--primary;
    background-color: #699EA5;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 50%;

    @include media($tablet) {
        visibility: visible;
    }
}

.fixed-button--secondary {
    bottom: 70px;
}