footer {
    color: $color-black; 
    background-color: $color-white;
    border-top: solid 3px $color-branding--primary; 

    p {
        font-size: $font-size--s;
    }

    a {
        text-decoration: none;
    }

    @include media($tablet) {
        .footer__logo, .footer__item, .footer__copyright {
            text-align: center;
        }
    }
}

.footer__title {
    font-family: $font--primary;
    font-variation-settings: 'wght' 800;
    font-size: $font-size--m;
}

.footer__logo {
    @include media($tablet) {
        display: block;
        margin: 0 auto; 
        margin-bottom: 20px;
        width: 150px;
    }
}

.footer__copyright {
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    font-family: $font--secondary;
    font-size: $font-size--s;

    @include media($tablet){
       flex-wrap: wrap;
    }
}

.footer__text {
    display: inline-block;
    margin-right: 15px;
    font-size: $font-size--s;
    margin-bottom: 0px;

    a {
        color: $color-black;
        text-decoration: none;
    }

    &:last-child {
        margin-right: 0px;
    }

    @include media($tablet){
        width: 100%;
    }
}

.copyright__links {
    @include media($tablet){
        margin-top: 20px;
    }
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 40px;

    @include media($tablet){
        flex-wrap: wrap;
    }
}

.footer__item {

    @include media($tablet) {
        margin-bottom: 20px; 
    }
}

.footer__list {
    list-style: none;
    margin: 0;
    padding: 0;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    li {
        margin-bottom: 10px;
        color: $color-black;
        font-size: $font-size--m;
    }

    a {
        color: $color-black;
        font-size: $font-size--s;
        text-decoration: none;
    }
}



