.c-page {
    padding: 2%;
    background-color: $color-branding--primary;

    &--white {
        background-color: $color-white;
        min-height: 60vh;
    }

    &--content {
        padding-right: 10%;
        overflow: auto;
        p {
            margin-bottom: 20px;
        }

        a {
            color: blue;
            &:hover {
                transform: none !important;
                color: grey;
            }
        }

        @include media($tablet){
            padding-right: 5%;
            padding-left: 5%;
        }
    }

    &--archive {
        @include media($tablet){
            padding-right: 5%;
            padding-left: 5%;
        }
    }

    @include media($tablet){
        padding-right: 5%;
        padding-left: 5%;
        padding-bottom: 5%;
    }

    .c-menu {
        padding: 0%;
    }
}

.page__title {
    color: $color-white;
    font-size: $font-size--xxl;

    @include media($tablet) {
        font-size: $font-size--xl;
    }
}

.page__hero {

    .c-banner {
        margin: 0 auto;
        padding: 100px;

        @include media($tablet) {
            padding: 50px;
        }
    }
}

.page__news {
    display: flex;
    justify-content: center;

    @include media($tablet) {
        flex-wrap: wrap;
        align-items: center;
    }
}
